name: Deploy Frontend to GitHub Pages

on:
  push:
    branches: [ main ]
<<<<<<< HEAD

permissions:
  contents: write  # ✅ gives GITHUB_TOKEN permission to push

=======
    
permissions:
  contents: write  # ✅  gives GITHUB_TOKEN permission to push
  
>>>>>>> 5a15323cfdd8a8c6ac7e6a57c6351db1203eb4ac
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install and build
        working-directory: ./frontend
        run: |
          npm ci --legacy-peer-deps
          REACT_APP_API=${{ secrets.REACT_APP_API }} npm run build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./frontend/build

